.category-section {
    padding: 3rem 1rem;
    background-color: #fdf8f9;
  }

  body.dark .category-section {
    background-color: #333;
  }
  
  .category-title {
    font-family: 'Didot', serif;
    font-size: 2rem;
    text-align: center;
    color: #B76E79;
    margin-bottom: 2rem;
  }
  
  .category-scroll {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    overflow-x: auto;
    padding-bottom: 1rem;
    scrollbar-width: none;
    scroll-behavior: smooth;
    width: 100%;
  }
  
  .category-scroll::-webkit-scrollbar {
    display: none;
  }
  
  .category-card {
    min-width: 180px;
    white-space: nowrap;
    border-radius: 14px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    align-items: center;
    justify-content: center;

  }

  body.dark .category-card {
    background: #d6d5d5;
  }
  
  .category-card:hover {
    transform: translateY(-5px);
  }
  
  .category-card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
  }
  
  .category-name {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    padding: 0.75rem;
    color: #513136;
  }
  