.hero-section {
    background: linear-gradient(135deg, #B76E79, #844F57, #513136);
    padding: 2rem 0;
  }
  .hero-section h1 {
    font-family: 'Cinzel Decorative', serif;
  }
  .hero-section p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
  }

  .caption2 {
    color: #9813c5;
  }
  