.top-section {
    padding: 3rem 1rem;
    background-color: #fff;
  }

  body.dark .top-section {
    background-color: #333;
  }

  body.dark .top-card-body {
    color: #eee;
    background: #222;
  }
  
  .top-title {
    font-family: 'Didot', serif;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #844F57;
  }
  
  .top-card {
    border: 1px solid #eee;
    border-radius: 12px;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
  }

  body.dark .top-card {
    background: #333;
  }
  
  .top-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  }
  
  .top-card img {
    height: 260px;
    width: 100%;
    object-fit: cover;
  }
  
  .top-card-body {
    padding: 1rem;
    text-align: center;
  }
  
  .top-card-title {
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: #513136;
  }

  body.dark .top-card-title {
    color: #e78493;
  }
  
  .top-price {
    font-size: 0.95rem;
    color: #777;
  }
  
  .top-button {
    background-color: #B76E79;
    border: none;
    color: #fff;
    padding: 0.5rem 1.2rem;
    border-radius: 25px;
    font-size: 0.9rem;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .top-button:hover {
    background-color: #9A5C65;
  }

  .add-to-wishlist {
    position: absolute;
    margin: 1rem;
    right: 0px;
   
  }

  .add-to-wishlist button {
   background: #6c3b42;
   color: #fff;
   border-radius: 50%;
   padding: 5px;
   border: none;
  }

  .add-to-wishlist span {
    display: none;
    position: absolute;
    background-color: #6c3b42;
    color: #fff;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 12px;
    top: 0.1px;
    right: -26px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    max-width: 120px;
    padding: 0.5rem;
  }

  .add-to-wishlist:hover span {
    display: block;
  }

  .err {
    position: absolute;
  }

  
  


  .second-navbar ::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #6c3b42;
    left: 0;
    bottom: -3px;
    transition: 0.7s;
  }
  
  .second-navbar :hover::after {
    color: #6c3b42;
    width: 100%;
  }