/* Container for the product list */
.product-list-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
  }
  
  /* Style for each product card */
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; 
    position: relative;
  }

  .product-card:hover .product-image {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  

  .add-to-btn {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    font-size: 12px;
  }
  
  .add-to-btn button {
    /* position: absolute; */
    background: #fff;
    color: #9A5C65;
    border: #844F57 solid 1px;
    
}

.add-to-btn button:hover{
    color: #fff;
    background: #844F57;
}

/* .add-to-cart.disabled {
  opacity: 0.6;
  cursor: not-allowed;
} */

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

  
  /* Error message styling */
  .error-msg {
    color: red;
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
  }


  body.dark .product-list-container{
    background: #111;
    color: #eee;
  }

  body.dark .product-card {
    background-color: #333;
    border: 1px solid #555;
    color: #eee;
  }

  body.dark .card {
    background-color: #222;
    border: 1px solid #555;
  }

  
  