:root {
  --primary-color: #9A5C65;
  --secondary-color: #F5F5F5;
  --accent-color: #7A3E48;
  --text-color: #333333;
  --background-color: #ffffff;
  
  --font-h1: 'Cinzel Decorative', cursive;
  --font-h2: 'Didot', serif;
  --font-h3: 'Playfair Display', serif;
  --font-body: 'Montserrat', sans-serif;
}


body, html, #root {
  font-family: var(--font-body);
  /* background-color: var(--background-color); */
  color: var(--text-color);
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body.dark {
  background-color: #333;
  color: #eee;
}

.container,
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


.hero-section {
  background: linear-gradient(135deg, #B76E79, #844F57, #513136);
}

.btn-custom {
  background-color: #9A5C65;
  color: white;
}


h1 {
  font-family: 'Cinzel Decorative', serif;
}
h2 {
  font-family: 'Didot', serif;
}
h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
body {
  font-family: 'Montserrat', sans-serif;
}


a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
  text-decoration: underline;
  transition: all 0.3s ease;
}

button, input {
  font-family: var(--font-body);
}

img {
  width: 100%;
  height: auto;
  display: block;
}



/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


